* {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}

.container {
  display: flex;
  padding: 20px;
}

.input {
  padding: 10px;
}

.output {
  padding: 10px;
}

.input-text {
  padding: 10px;
  width: 500px;
  height: 500px;
}

.output-text {
  padding: 10px;
  background-color: rgb(76, 74, 74);
  color: white;
  width: 500px;
  height: 500px;
}
